#board {
    margin-top: 10px;
}

.box {
    border: 1px solid black;
    height: 150px;
    
}

.xOrO {
    height: 12rem;
    width: 12rem;
    position: absolute;
    margin: auto;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

#reset {
    margin-top: 20px;
}
